body {
    margin: 0;
    padding: 0;
}

.nav-logo {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.navbar-collapse {
    flex-grow: 0.5;
}

.nav-link:hover {
    background-color: #0d6efd;
    color: white !important;
}

.connect {
    border-radius: 50px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.image-content {
    position: relative;
}

.image-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: red;
}

.image {
    min-width: 100%;
    max-width: 100%;
    min-height: 40vw;
    max-height: 40vw;
    object-fit: cover;
}

.image-overlay {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-heading {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.image-description {
    margin-top: 3%;
}

.image-strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    filter: opacity(80%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5%;
}

.each-element-of-strip {
    z-index: 1;
}

.each-element-description {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 0.8em;
}

.each-element-description li {
    margin-right: 5px;
}

.vd {
    width: 1px;
    height: 50px;
    border-right: 1px solid rgb(185, 185, 185);
}

.box {
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(177, 175, 175, 0.2);
    padding: 10px;
}

.box-image-container {
    background-color: #f4f7fd;
    width: 70px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: #4468e2;
    border-radius: 5px;
}

.box-image-container i {
    font-size: 1.8em;
}

.box-header {
    font-weight: bold;
    margin-top: 1%;
}

.box-description {
    font-size: 0.9em;
    color: rgb(156, 156, 156);
    margin-top: 7%;
}

.recommended-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recommended-destination-header {
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 10%;
}

.recommended-destination-bar {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.recommended-each {
    margin-top: 5%;
    cursor: pointer;
}

.recommended-each:nth-child(1) {
    border-bottom: 1px solid grey;
}

.destination-card-container {
    display: flex;
    width: 100%;
}

.destination-card {
    width: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
    padding: 1%;
    cursor: pointer;
}

.destination-image-container {
    border-radius: 10px;
    overflow: hidden;
}

.destination-image {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

.destination-card-header {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 3%;
}

.destination-card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
    margin-top: 5%;
}

.food-and-money {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.food {
    color: #1c4961;
}

.kms-and-limit {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: GREY;
}

.blogs {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-header {
    font-weight: bold;
    font-size: 1.8em;
}

.blog-container {
    display: flex;
    max-height: 100%;
    width: 100%;
    justify-content: space-between;
    color: white;
    margin-top: 5%;
}

.blog-left {
    position: relative;
}

.blog-image {
    min-width: 48vw;
    max-width: 48vw;
    object-fit: cover;
    filter: brightness(70%);
}

.blog-image-left {
    min-height: 450px;
    max-height: 450px;
}

.blog-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-right-each {
    position: relative;
}

.blog-image-right {
    min-height: 200px;
    max-height: 200px;
}

.blog-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    width: 70%;
}

.blog-title {
    font-size: 1.5em;
    width: 61%;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.feedback-header {
    font-weight: bold;
    font-size: 1.8em;
}

.feedback-card-container {
    display: flex;
    overflow-x: auto;
    width: 95vw;
    padding: 5%;
}

.feedback-card {
    border-radius: 10px;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
    min-width: 500px;
    max-width: 500px;
    padding: 3%;
    margin-top: 5%;
    margin-right: 5%;
}

.feedback-card:nth-child(5) {
    margin-right: 0%;
}

.feedback-card-description {
    display: flex;
    justify-content: space-between;
}

.feedback-card-description i {
    font-size: 1.8em;
    color: grey;
    margin-right: 3%;
    margin-top: 1%;
}

.feedback-user {
    display: flex;
    margin-top: 5%;
}

.feedback-user-image-container {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 3%;
}

.feedback-user-image {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    object-fit: cover;
}

.feedback-user-name {
    font-weight: bold;
}

.feedback-user-title {
    color: grey;
}

footer {
    background-color: #e1e8f8;
    border-radius: 10px;
}

footer div i {
    text-align: center;
    padding-top: 7px;
    background-color: black;
    margin-right: 3%;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    color: white;
    border-radius: 100%;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 991px) {
    .image {
        min-height: 20rem;
        max-height: 20rem;
    }

    .image-container {
        height: 20rem;
    }

    .image-overlay {
        width: 90%;
    }
}

@media screen and (max-width: 638px) {
    .box, .destination-card {
        width: 100%;
    }

    .image-heading {
        font-size: 1.8em;
    }
    .image-description {
        font-size: 0.9em;
    }
    .each-element-header {
        font-size: 0.9em;
    }
    .explore {
        font-size: 0.9em;
    }
    .blog-right-each , .blog-image-right{
        min-height: 220px;
    }
    .blog-image-overlay {
        font-size: 1.3em;
    }
    .feedback-card {
        min-width: 350px;
        max-width: 350px;
    }
}